[run]
source =
    apps
    config
omit =
    */migrations/*
    */tests.py
    */management/*
    config/asgi.py
    config/wsgi.py
    config/settings/production.py

[report]
show_missing = True
fail_under = 100
